{{ block title }}
    Instructions - First Experiment
{{ endblock }}
{{ block content }}
    <h2>Instructions</h2>
    <p>
        You are now taking part in an economic experiment financed by the University of Michigan. If you read the following instructions carefully, you can, depending on your decisions, earn a considerable amount of money. It is therefore very important that you read these instructions with care. 
    </p>
    <p>
        These instructions are solely for your private use. It is prohibited to communicate with the other participants during the experiment.  
    </p>
    <p>
        During the experiment we will not speak in terms of dollars, but in Guilders. During the experiment your entire earnings will be calculated in Guilders. At the end of the experiment the total amount of Guilders you have earned will be converted to dollars at the following rate: 
    </p>
    <p>
        1 Guilder = $0.05
    </p>
    <p>
        At the end of the experiment your entire earnings from the experiment plus the show-up fee will be paid to your account. 
    </p>
    <p>
        The experiment is divided into 10 separate periods. In each period the participants are divided into groups of four. You will therefore be in a group with 3 other participants. The composition of the groups will stay the same for all ten periods. In the following pages we describe the experiment in detail. 
    </p>
    <h2>Detailed Description of the Experiment</h2>
    <p>
        At the beginning of each period each participant receives 20 tokens. We call this his or her endowment. Your task is to decide how to use your endowment. You have to decide how many of the 20 tokens you want to contribute to a project and how many of them to keep for yourself. The consequences of your decision are explained in detail below. At the beginning of each period the following input-screen for the first stage will appear: *** insert screenshot of contribution page here ***
    </p>
    <p>
        The period number appears in the bottom of the screen. At the top, you can see how many more seconds remain for you to decide on your contribution. You will have 90 seconds. Your decision must be made within the time limit. 
    </p>
    <p>
        Your endowment in each period is 20 tokens. You have to decide how many tokens you want to contribute to the project by typing a number between 0 and 20 in the input field. This field can be reached by clicking it with the mouse. As soon as you have decided how many points to contribute to the project, you have also decided how many points you keep for yourself: This is (20 – your contribution) tokens. After entering your contribution you must click the O.K. button. Once you have done this, your decision can no longer be revised. 
    </p>
    <p>
        After all members of your group have made their decision the following screen will show you the total amount of tokens contributed by all four group members to the project (including your contribution). This screen also shows you how many Guilders you have earned at the first stage. *** Insert screenshot of preliminary results page ***
    </p>
    <p>
        Your income consists of two parts:
        <ol>
            <li>
                The tokens which you have kept for yourself (“Income from retained tokens”) whereby 1 token = 1 Guilder. 
            </li>
            <li>
                The “income from the project”. This income is calculated as follows: Your income from the project = 0.4 times the total contributions to the project. 
            </li>
        </ol>
    </p>
    <p>
        Your income in Guilders of a period is therefore: (20 – your contribution to the project) + 0.4*(total contributions to the project) 
    </p>
    <p>
        The income of each group member from the project is calculated in the same way, i.e., each group member receives the same income from the project. Assume, for example, that the sum of the contributions of all group members is 60 tokens. In this case each member of the group receives an income from the project of: 0.4*60 = 24 Guilders. If the total contribution to the project is 9 tokens, then you and all other member of the group receive an income of 0.4*9 = 3.6 Guilders from the project. 
    </p>
    <p>
        For each token, which you keep for yourself you earn an income of 1 Guilder. Suppose you contributed this token to the project instead, then the total contribution to the project would rise by one token. Your income from the project would rise by 0.4*1=0.4 tokens. However the income of the other group members would also rise by 0.4 tokens each, so that the total income of the group from the project would rise by 1.6 tokens. Your contribution to the project therefore also raises the income of the other group members. On the other hand you earn an income for each token contributed by the other members to the project. For each token contributed by any member you earn 0.4*1=0.4 tokens. 
    </p>
    <p>
        You have 45 seconds to view this income screen. If you are finished before the time is up, please click the “continue”-button.
    </p>
    <p>
        Next, the information screen appears, which reveals the contributions of the other group members. *** insert screenshot of information screen here ***
    </p>
    <p>
        This screen shows how much each of the other group members contributed to the project. Your contribution is displayed in the first row, while the contributions of the other group members are shown in the remaining three rows. Please note that the order in which contributions are displayed is changed randomly in each period. The contribution in the second row, for example, in general stems always from a different group member. The same holds for the contributions in the other columns. Besides the absolute contributions, the contributions as a percentage of the endowment are also displayed. 
    </p>
    <h2>Control Questions</h2>
    <p>
        Please answer all control questions. They serve as a test for your understanding of payoff calculations. 
    </p>
    <p>
        1. Each group member has an endowment of 20 tokens. Suppose nobody (including you) contributes any tokens to the project. 
    
    </p>
    
    {% formfield player.Q1a %}
    {% formfield player.Q1b %}

    <p>
        2. Each group member has an endowment of 20 tokens. Suppose you contribute 20 tokens to the project. All other group members each contribute 20 tokens to the project. 
    
    </p>

    {% formfield player.Q2a %}
    {% formfield player.Q2b %}

    <p>
        3. Each group member has an endowment of 20 tokens. Suppose the other three group members contribute a total of 30 tokens to the project.
    
    </p>

    {% formfield player.Q3a %}
    {% formfield player.Q3b %}


    <p>
        4. Each group member has an endowment of 20 tokens. Suppose you contribute 8 tokens to the project.
    
    </p>

    {% formfield player.Q4a %}
    {% formfield player.Q4b %}
    

    {{ next_button }}

{{ endblock }}
