{{ block title }}Post-Experiment Questionnaire{{ endblock }}
{{ block content }}

    <p>
        In Round {{ player.RandomRound }}, you were Player {{ player.EDispID }}. Here are the players' contributions:
    </p>

{{ if player.EDispID == 1 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 2 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 3 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 4 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>

    </table>

{{ endif }}

    <br>
    <p>
        You will now be asked questions about your decisions in stage 2 of Round {{ player.RandomRound }}. Your answers to the following questions will <b>NOT</b> be shared with any of the other players at any time.
    </p>
    <br>
    <br>
    <br>
{{ if player.EDispID != 1 }}
    <p>
        <b>You chose to send {{ player.EPun1 }} deduction point(s) to Player 1.</b>
    </p>
    {{ formfield 'Deserved1' }}
    <br>
    <p>
        Why did you choose to send {{ player.EPun1 }} deduction point(s) to Player 1?
    </p>
    {{ formfield 'PunishmentReason1' }}
    <br>
    <br>
    <br>
{{ endif }}

{{ if player.EDispID != 2 }}
    <p>
        <b>You chose to send {{ player.EPun2 }} deduction point(s) to Player 2.</b>
    </p>
    {{ formfield 'Deserved2' }}
    <br>
    <p>
        Why did you choose to send {{ player.EPun2 }} deduction point(s) to Player 2?
    </p>
    {{ formfield 'PunishmentReason2' }}
    <br>
    <br>
    <br>
{{ endif }}

{{ if player.EDispID != 3 }}
    <p>
        <b>You chose to send {{ player.EPun3 }} deduction point(s) to Player 3.</b>
    </p>
    {{ formfield 'Deserved3' }}
    <br>
    <p>
        Why did you choose to send {{ player.EPun3 }} deduction point(s) to Player 3?
    </p>
    {{ formfield 'PunishmentReason3' }}
    <br>
    <br>
    <br>
{{ endif }}

{{ if player.EDispID != 4 }}
    <p>
        <b>You chose to send {{ player.EPun4 }} deduction point(s) to Player 4.</b>
    </p>
    {{ formfield 'Deserved4' }}
    <br>
    <p>
        Why did you choose to send {{ player.EPun4 }} deduction point(s) to Player 4?
    </p>
    {{ formfield 'PunishmentReason4' }}
    <br>
    <br>
    <br>
{{ endif }}




    {{ next_button }}

{{ endblock }}
