{{ block title }}Questionnaire{{ endblock }}
{{ block content }}

    <p>
        In Round {{ player.RandomRound }}, you were Player {{ player.EDispID }}. Here are the players' contributions:
    </p>

{{ if player.EDispID == 1 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 2 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 3 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 4</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>

    </table>

{{ endif }}

{{ if player.EDispID == 4 }}
        <table class="table">
        <tr>
            <th>Player</th>
            <th>Endowment</th>
            <th>Contribution</th>

        </tr>
        <tr>
            <td>You</td>
            <td>25</td>
            <td>{{ player.ECont4 }}</td>

        </tr>
        <tr>
            <td>Player 1</td>
            <td>25</td>
            <td>{{ player.ECont1 }}</td>

        </tr>
        <tr>
            <td>Player 2</td>
            <td>25</td>
            <td>{{ player.ECont2 }}</td>

        </tr>
        <tr>
            <td>Player 3</td>
            <td>25</td>
            <td>{{ player.ECont3 }}</td>

        </tr>

    </table>

{{ endif }}

    <br>
    <p>
        You will now be asked questions about your decisions in stage 2 of Round {{ player.RandomRound }}. Your answers to the following questions will NOT be shared with any of the other players in your group.
    </p>
    <br>
{{ if player.EDispID != 1 }}
    <p>
        You chose to deduct {{ player.EPun1 }} token(s) from Player 1.
    </p>
    {{ formfield 'Deserved1' }}
    <br>
    <p>
        Why did you choose to deduct {{ player.EPun1 }} token(s) from Player 1?
    </p>
    {{ formfield 'PunishmentReason1' }}
    <br>
{{ endif }}

{{ if player.EDispID != 2 }}
    <p>
        You chose to deduct {{ player.EPun2 }} tokens from Player 2.
    </p>
    {{ formfield 'Deserved2' }}
    <br>
    <p>
        Why did you choose to deduct {{ player.EPun2 }} token(s) from Player 2?
    </p>
    {{ formfield 'PunishmentReason2' }}
    <br>
{{ endif }}

{{ if player.EDispID != 3 }}
    <p>
        You chose to deduct {{ player.EPun3 }} tokens from Player 3.
    </p>
    {{ formfield 'Deserved3' }}
    <br>
    <p>
        Why did you choose to deduct {{ player.EPun3 }} token(s) from Player 3?
    </p>
    {{ formfield 'PunishmentReason3' }}
    <br>
{{ endif }}

{{ if player.EDispID != 4 }}
    <p>
        You chose to deduct {{ player.EPun4 }} tokens from Player 4.
    </p>
    {{ formfield 'Deserved4' }}
    <br>
    <p>
        Why did you choose to deduct {{ player.EPun4 }} token(s) from Player 4?
    </p>
    {{ formfield 'PunishmentReason4' }}
    <br>
{{ endif }}




    {{ next_button }}

{{ endblock }}
